
* {
  box-sizing: border-box;
}

.main,
.header {
  width: 100%;
}

.main {
  background: white;
}

#top-img {
  background: url("img/team_pictures/team_win_large.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

#go-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.8;
  width: 35px;
  height: 35px;
  z-index: 800;
}

#go-down:hover {
  cursor: pointer;
}

.header {
  font-family: 'Inconsolata', monospace;
}

.header-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 110px 100px 50px 50px;
  text-align: left;
}

.header-main,
.header-sub {
  background-color: rgba(250, 250, 250, 0.6);
  text-align: left;
  display: inline-block;
}

.header-wrap {
  max-width: 600px;
  margin-right: auto;
}

.header-main {
  padding: 40px 50px;
  font-size: 70px;
  line-height: 80px;
}

.header-sub {
  padding: 20px 25px;
  font-size: 30px;
  line-height: 32px;
  margin-top: 40px;
}

.content {
  padding: 0px 0px 50px 10px;
  background: #222;
}

.content-table {
  display: table;
  table-layout: fixed;
  min-height: 100vh;
}

.content-group {
  display: table-row;
  font-family: 'Roboto', sans-serif;
}

.content-title {
  display: table-cell;
  white-space: nowrap;
  padding: 30px;
  vertical-align: top;
  overflow: hidden;
  background: #222;
}

.content-sep {
  width: 1px;
  display: table-cell;
  padding: 20px 0px;
}

.content-title span,
.content-title a {
  display: block;
  font-size: 40px;
  text-align: left;
}

.content-title a {
  color: black;
  text-decoration: none;
}

.content-title a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content-text {
  display: none;
  vertical-align: top;
  width: 100%;
  padding: 40px 25px 20px 25px;
  padding-bottom: 50px;
  opacity: 0;
  background: white;
}

.content-text.active {
  display: table-cell;
}

.content-text p {
  display: block;
  font-size: 20px;
  line-height: 32px;
}

.members-list {
  list-style-type: none;
  text-align: center;
}

.members-list-captains {
  margin-bottom: 40px;
}

.members-list-header {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.members-list-header-captains {
  font-size: 34px;
}

.members-li {
  display: inline-block;
  padding: 20px;
  -moz-transition: transform 0.6s, opacity 0.6s;
  -webkit-transition: transform 0.6s, opacity 0.6s;
  -ms-transition: transform 0.6s, opacity 0.6s;
  -o-transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
}

.members-li.loading {
  opacity: 0;
  transform: translateX(20px);
}

.members-li img {
  width: 200px;
  height: 200px;
}

.members-li span {
  padding: 15px;
  display: block;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  line-height: 20px;
}

.donate-thingie {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  width: 300px;
  vertical-align: middle;
  border-bottom: 2px solid rgba(1, 1, 1, 0);
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.donate-thingie:hover {
  border-bottom-color: #FF4500;
}

.donate-thingie input[type="image"],
.donate-thingie img {
  width: 100%;
  height: auto;
}

.title-list {
  list-style-type: none;
  width: 180px;
  position: relative;
  top: 0px;
}

.title-li {
  padding: 15px 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  vertical-align: center;
  position: relative;
  transition: background 0.3s, padding 0.3s;
  background: #222;
}

.content-text {
  min-height: 100vh;
}

.title-li.active {
  background: #229;
  padding-left: 16px;
}

.title-li:hover:not(.active) {
  padding-left: 16px;
  background: #444;
}

#footer {
  height: 200px;
  background: #444;
  padding: 20px 40px;
  display: table;
  width: 100%;
}

.footer-list {
  display: table-cell;
  list-style-type: none;
  vertical-align: middle;
}

.footer-li {
  color: #999;
  margin: 10px;
  font-size: 16px;
}

.footer-li-head {
  color: #ddd;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-b {
  color: #777;
}

.footer-ack {
  display: table-cell;
  vertical-align: bottom;
  font-size: 12px;
  color: #888;
  text-align: right;
}

.donate-thingie-list {
  text-align: center;
}

.content-div {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}

.content-img-wrap {
  margin: 5px;
  position: relative;
  width: 100%;
  display: inline-block;
  max-width: 550px;
}

.content-img-wrap:hover {
  cursor: pointer;
}

.content-img {
  width: 100%;
  height: auto;
}

.content-img-info {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(250, 250, 250, 0.4);
  padding: 15px 25px;
  left: 20px;
  bottom: 15px;
}

.content-img-wrap:hover .content-img-info {
  opacity: 1;
}

.content-divider {
  width: 50%;
  margin: auto;
  height: 1px;
  background-color: #cfcfcf;
  display: none;
}

.content-section {
  margin-bottom: 30px;
}

.content-main-title {
  padding: 25px 25px 15px 25px;
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.content-main-video {
  padding: 20px 20px 8px 20px;
}

.content-main-vid {
  width: 100%;
  height: 500px;
}

p.contact-info {
  line-height: 44px;
  font-size: 24px;
  color: #888;
}

p.contact-info span {
  color: #555;
}

#content-projects .content-section {
  margin-top: 20px;
  margin-bottom: 35px;
}

.project-title {
  font-size: 24px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.project-subtitle {
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 24px 0px 12px 0px;
}

.awards-list {
  list-style-type: none;
  text-align: center;
  display: block;
  padding: 6px;
}

.awards-li {
  display: block;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 1000px) {

  .content {
	padding-left: 0px;
  }

  .content-divider {
	display: inline-block;
  }

  .content-group,
  .content-table {
	display: block;
  }

  .content-title {
	padding: 25px 5px;
	max-width: none;
	display: block;
  }

  .content-title a,
  .content-title span {
	text-align: center;
  }

  .members-list {
	text-align: center;
  }

  .members-li img {
	width: 300px;
	height: auto;
	max-width: 100%;
  }

  #top-img {
	background-attachment: scroll;
  }

  .content-title {
	text-align: center;
	height: 54px;
	padding: 4px;
	box-sizing: content-box;
	margin-top: 60px;
  }

  .content-text.active {
	display: block;
  }

  .title-list {
	text-align: center;
	display: inline-block;
	width: auto;
  }

  .title-li {
	display: block;
	padding: 15px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
  }

  .title-li:hover:not(.active) {
	padding: 15px;
  }

  .title-li.active {
	padding: 15px;
	font-size: 24px;
	line-height: 24px;
	background: #222;
  }

  .title-li.active::before {
	position: absolute;
	right: -8px;
	transform: scale(1.5) rotate(90deg);
	content: "\203A";
	opacity: 1;
	transition: opacity 0.2s;
  }

  .content-title.large .title-li.active::before {
	opacity: 0;
  }

  #donate-text {
	text-align: center;
  }

  .members-list-header {
	font-size: 26px;
  }

  .members-list-header-captains {
	font-size: 30px;
  }

  .moving-picture-wrap {
	display: inline-block;
	max-width: 500px;
  }

  .content-div {
	width: 100%;
	display: block;
  }

  .content-div-img {
	text-align: center;
  }

  .content-img-wrap {
	max-width: 500px;
  }
}

@media (max-width: 770px) {

  .footer-ack {
	display: none;
  }
}

@media (max-width: 500px) {

  .header-text {
	padding-left: 15px;
	padding-right: 15px;
  }

  .header-main {
	font-size: 50px;
	padding: 30px 40px;
	line-height: 60px;
  }

  .moving-picture-wrap {
	height: 200px;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#img-overlay {
  margin: 2.5%;
  width: 95%;
  height: 95%;
  position: relative;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
