.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #fdfdfd;
	-webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
	z-index: 900;
}

.navbar-tall {
        height: 80px;
}

.top-navbar {
	list-style-type: none;
	text-align: center;
	height: 100%;
	max-width: 1000px;
	margin: 0px auto;
	font-family: 'Inconsolata', monospace;
}

.top-navbar-li {
	display: table;
	float: right;
	height: 100%;
	text-align: center;
}

.top-navbar-li.picture {
	float: left;
	padding: 5px;
}

.top-navbar-li.title {
	float: left;
}

.top-navbar-li.picture img {
	height: 100%;
	width: auto;
	display: table-cell;
	vertical-align: middle;
}

.top-navbar-li a {
	background-color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
	padding: 0px 15px;
	color: black;
	-webkit-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

.top-navbar-li a:hover {
	text-decoration: none;
 	color: #ab89e6;
	cursor: pointer;
}
